.home-wrapper
  overflow hidden
  width 960px
  margin 0 auto
  .home-left
    margin-left 15px
    padding-top 30px
    width 625px
    float left
    img
      width 625px
      height 270px
  .home-right
    width 240px
    float right 